.container{
    margin: 0 auto;
    width: 75%;
    border: 1px solid black;
    text-align: center;
}
button{
    padding: 13px 27px;
    font-size: 20px;
    background-color: green;
    color:white;
    border-radius: 7px;
    margin: 10px;
}
.flex-box{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.flex-box img{
    margin: 10px;
    width: 200px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0.71);
}
